/* SMOOTH SCROLLING CONTROLS */
.about-me-page-container {
  position: relative;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100svh;
  width: 100lvw;
}

/* FIRST SECTION */

.about-me-landing-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  width: 100vlw;
  height: 96lvh;
  color: rgb(247, 238, 227);
  /* border: solid #fff; */
}

.title-container {
  width: 100%;
  margin-top: -50px;
}

.title-left {
  display: flex;
  flex-direction: column;
  text-align: left;
  /* border: solid #fff; */
}

/* MIDDLE SECTION */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about-me-white-container {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  width: 100%;
  height: 100lvh;
  color: #141213;
  /* border: solid green; */
  background-color: rgb(247, 238, 227);
}
.about-me-white-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(247, 238, 227);
  z-index: -1; /* Place background behind text */
}

.clipped-text {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background: url(https://d34u8crftukxnk.cloudfront.net/slackpress/prod/sites/7/0_Qpa57tZ9qJ0Fu2ZR.gif);
  background-size: contain;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-right {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 100%;
}

@media screen and (max-width: 720px) {
  .title-left {
  }
  .title-right {
    margin-top: 3px;
  }
}

/* BOTTOM SECTION */
.about-me-bottom-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Use align-items instead of align-content */
  width: auto;
  height: 710px;
  background-color: #141213;
  color: rgb(247, 238, 227);
}

.about-me-bottom-content {
  display: flex;
  justify-content: center;
  align-items: center; /* Align items along the cross-axis */
  width: 50%;
}

@media screen and (max-width: 768px) {
  .about-me-bottom-content {
    width: 80%;
  }
}
