/* SMOOTH SCROLLING CONTROLS */
.about-me-page-container {
  position: relative;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100svh;
  width: 100lvw;
}

/* FIRST SECTION */

.about-me-landing-container {
  display: flex;
  justify-content: start;
  align-items: end;
  flex-direction: row;
  width: 100%;
  height: 96lvh;
  color: rgb(247, 238, 227);
  /* border: solid #fff; */
}

.title-left {
  font-size: 12rem;
  /* margin-left: -275px; */
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 60%;
}

/* MIDDLE SECTION */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about-me-white-container {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  width: 100%;
  height: 96lvh;
  color: #141213;
  /* border: solid #fff; */
  background-color: rgb(247, 238, 227);
}

.clipped-text {
  text-transform: uppercase;
  background: url(https://d34u8crftukxnk.cloudfront.net/slackpress/prod/sites/7/0_Qpa57tZ9qJ0Fu2ZR.gif);
  background-size: contain;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-right {
  font-size: 12rem;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 100%;
}

/* BOTTOM SECTION */
.about-me-bottom-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Use align-items instead of align-content */
  width: auto;
  height: 710px;
  background-color: #141213;
  color: rgb(247, 238, 227);
  font-size: 1rem;
}

.about-me-bottom-content {
  display: flex;
  justify-content: center;
  align-items: center; /* Align items along the cross-axis */
  width: 50%;
}

@media screen and (max-width: 768px) {
  .about-me-bottom-content {
    width: 80%;
    font-size: 0.7rem;
  }
}

/* SMOOTH SCROLLING CONTROLS */
.about-me-scroll-section-1 {
  position: relative;
  scroll-snap-align: start;
}

.about-me-scroll-section-2 {
  position: relative;
  scroll-snap-align: start;
}

.about-me-scroll-section-3 {
  position: relative;
  scroll-snap-align: start;
}
