/* SMOOTH SCROLLING CONTROLS */
.about-me-page-container {
  position: relative;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100svh;
  width: 100lvw;
}

/* FIRST SECTION */
.about-me-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #141213;
  font-size: 100px;
  overflow: hidden;
  color: rgb(240, 240, 240);
  font-weight: 900;
  width: 100lvw;
  height: 100lvh;
}
/* .about-me-title-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-size: 4rem;
  margin-bottom: 15px;
  flex-direction: column;
  width: 100lvw;
}

.indent {
  margin-top: -40px;
  vertical-align: 35px;
}

@media screen and (max-width: 768px) {
  .about-me-title-container {
    font-size: 3rem;
  }
} */

.about-me-landing-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100lvw;
  height: 100lvh;
  color: antiquewhite;
  /* border: solid #fff; */
}

.about-me-photo {
  display: flex;
  width: 80%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  filter: grayscale(30%);
  max-width: 400px;
}

/* .about-me-body-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 50px;
}

.about-me-body-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 25px;
  font-weight: lighter;
  line-height: 100%;
  margin-top: 20px;
  margin-bottom: 5px;
}
.about-me-body {
  display: flex;
  text-align: center;
  color: aliceblue;
  width: 50%;
  font-size: 15px;
  font-weight: lighter;
  line-height: 100%;
} */

/* MIDDLE SECTION */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.about-me-middle-container {
  width: 100vw;
  background-color: white;
}

.about-me-middle-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 900;
  /* border: 10px dotted black; */
}

/* BOTTOM SECTION */
.about-me-bottom-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Use align-items instead of align-content */
  width: auto;
  height: 710px;
  background-color: #141213;
  color: #fff;
  font-size: 1rem;
}

.about-me-bottom-content {
  display: flex;
  justify-content: center;
  align-items: center; /* Align items along the cross-axis */
  width: 50%;
}

@media screen and (max-width: 768px) {
  .about-me-bottom-content {
    width: 80%;
    font-size: 0.7rem;
  }
}

/* SMOOTH SCROLLING CONTROLS */
.about-me-scroll-section-1 {
  position: relative;
  scroll-snap-align: start;
}

.about-me-scroll-section-2 {
  position: relative;
  scroll-snap-align: start;
}

.about-me-scroll-section-3 {
  position: relative;
  scroll-snap-align: start;
}
