.frontend-section {
  margin: -25px;
  display: flex;
  justify-content: center;
  background-color: #141213;
  font-size: 100px;
  font-family: "Source Code Pro", monospace;
  color: rgb(240, 240, 240);
  font-weight: 900;
  line-height: 30px;
  width: auto;
  height: 100%;
}
.frontend-title-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-size: 7vw;
  margin-bottom: 15px;
  flex-direction: column;
  width: 100%;
  /* border: #fff dotted 5px; */
}

.indent {
  margin-top: -40px;
  vertical-align: 35px;
}

.frontend-middle-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between; /* or space-around */
  width: 75%;
  margin: -200px 200px 0px 200px;
}
.images-first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* or space-around */
  margin-bottom: 25px;
}
.images-second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* or space-around */
}

.frontend-image {
  display: flex;
  margin-top: -50px;
  justify-content: center;
  align-items: center;
}
.frontend-photos {
  width: 15%;
  justify-content: space-between;
  filter: grayscale(30%);
  border-radius: 20px;
}

.frontend-body-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.frontend-body-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 25px;
  font-weight: lighter;
  line-height: 100%;
  margin-bottom: 5px;
}
.frontend-body {
  display: flex;
  text-align: center;
  color: aliceblue;
  width: 50%;
  font-size: 15px;
  font-weight: lighter;
  line-height: 100%;
  margin-bottom: 5px;
  margin-top: 20px;
}
