/* SMOOTH SCROLLING CONTROLS */
.frontend-page-container {
  position: relative;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100lvw;
  /* border: #fff solid 5px; */
}

/* FIRST SECTION */
.frontend-section {
  display: flex;
  background-color: #141213;
  justify-content: center;
  color: rgb(247, 238, 227);
  width: auto;
  height: 95lvh;
  /* border: #fff solid 5px; */
}

/* TITLE CONTAINER */
.frontend-title-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  text-align: start;
  flex-direction: column;
  height: 100%;
  /* border: #fff solid 5px; */
}

.arrow {
  position: absolute;
  bottom: 0;
  padding-bottom: 50px;
  width: 50px;
  height: 50px;
  z-index: 999;
  opacity: 0.8;
}
.arrowUp {
  position: absolute;
  top: 0;
  padding-top: 75px;
  width: 50px;
  height: 50px;
  z-index: 999;
  opacity: 0.8;
}

/* MIDDLE SECTION */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.frontend-white-container {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  width: 100%;
  height: 100lvh;
  color: #141213;
  /* border: solid green; */
  background-color: rgb(247, 238, 227);
}

.frontend-white-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(247, 238, 227);
  z-index: -1; /* Place background behind text */
}

.clipped-text {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background: url(https://d34u8crftukxnk.cloudfront.net/slackpress/prod/sites/7/0_Qpa57tZ9qJ0Fu2ZR.gif);
  background-size: contain;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.frontend-middle-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  color: #141213;
  width: 100lvw;
  height: 90lvh;
  /* border: 10px dotted black; */
}

/* BOTTOM SECTION */
.frontend-black-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vlw;
  height: 100lvh;
  background-color: #141213;
  color: rgb(247, 238, 227);
}

.frontend-bottom-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.project-video {
  margin-top: -50px;
  width: 60%;
  border-radius: 30px;
  border: solid 2px rgb(247, 238, 227);
}
.description {
  max-width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  /* border: solid 3px white; */
}

@media screen and (max-width: 720px) {
  .project-video {
    width: 95%;
  }
}
