/* SMOOTH SCROLLING CONTROLS */
.frontend-page-container {
  position: relative;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100lvw;
  /* border: #fff solid 5px; */
}

/* FIRST SECTION */
.frontend-section {
  display: flex;
  background-color: #141213;
  font-family: "Source Code Pro", monospace;
  justify-content: center;
  color: rgb(240, 240, 240);
  width: auto;
  height: 95lvh;
  /* border: #fff solid 5px; */
}

/* TITLE CONTAINER */
.frontend-title-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  text-align: start;
  flex-direction: column;
  height: 100%;
  /* border: #fff solid 5px; */
}

.arrow {
  position: absolute;
  bottom: 0;
  padding-bottom: 50px;
  width: 50px;
  height: 50px;
  z-index: 999;
  opacity: 0.8;
}
.arrowUp {
  position: absolute;
  top: 0;
  padding-top: 75px;
  width: 50px;
  height: 50px;
  z-index: 999;
  opacity: 0.8;
}

/* MIDDLE SECTION */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.frontend-white-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 95lvh;
  width: 100%;
  /* border: 6px solid green; */
}

.frontend-middle-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  color: #141213;
  width: 100lvw;
  height: 80lvh;
  /* border: 10px dotted black; */
}

/* BOTTOM SECTION */
.frontend-black-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vlw;
  height: 100lvh;
  background-color: #141213;
  color: #fff;
}

.frontend-bottom-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.project-video {
  margin-top: -50px;
  width: 60%;
  border-radius: 30px;
  border: solid 2px white;
}
.description {
  max-width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  /* border: solid 3px white; */
}

@media screen and (max-width: 720px) {
  .project-video {
    width: 95%;
  }
}
