/* SMOOTH SCROLLING CONTROLS */
.design-page-container {
  position: relative;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100svh;
  width: 100lvw;
}

/* FIRST SECTION */

.design-landing-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100lvh;
  width: 100lvw;
  overflow: hidden;
  color: rgb(247, 238, 227);
  /* border: solid #fff; */
}
.landing-title-L {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  height: 98lvh;
  overflow: hidden;
  margin-top: -30px;
  color: rgb(247, 238, 227);
  /* border: solid #fff; */

  grid-column: 1 / 1 span;
  /* border: solid red; */
  width: 100%;
}
.landing-title-R {
  grid-column: 2 / 2 span;
  /* border: solid green; */
}

.title-left {
  font-size: 8rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* MIDDLE SECTION */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.design-landing-container-R {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  width: 100%;
  height: 100lvh;
  /* border: solid green; */
  background-color: #141213;
}
.design-white-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(247, 238, 227);
  z-index: -1; /* Place background behind text */
}

.clipped-text-design {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background: url(https://miro.medium.com/v2/resize:fit:1400/1*nYA8_Csm_sr9sQ0tqGfccQ.gif);
  background-size: cover;
  background-clip: text;
  -webkit-text-fill-color: rgba(247, 238, 227, 0.435);
}

@media screen and (max-width: 720px) {
  .title-left {
    font-size: 4.5rem;
  }
  .title-right {
    font-size: 4.5rem;
  }
  .landing-title-R {
    grid-column: 2 / 1 span;
    /* border: solid green; */
  }
}

/* MIDDLE ACCORDION */
.design-white-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100lvw;
  height: 100lvh;
  overflow: hidden;
  color: #141213;
  mix-blend-mode: difference;
  /* border: solid green; */
  background-color: rgb(247, 238, 227);
}

.accordion {
  display: flex;
  justify-content: start;
  overflow-x: hidden;
  margin-top: -40px;
  height: 95lvh;
  width: 100lvw;
  color: #141213;
}

/* Style for the accordion items */
.accordion-item {
  background-color: rgb(247, 238, 227);
  color: #141213;
  border: 1px solid #141213;
  transition: flex 0.5s ease, display 1s ease;
  overflow: hidden;
}

.toggle {
  visibility: hidden;
}
/* Define the styles when the radio button is checked */
.toggle:checked + .accordion-title {
  flex: 10;
}

/* Styles for the accordion title */
.accordion-title {
  padding-bottom: 5px;
  width: 50px;
  transform: rotate(90deg); /* Rotate the title 90 degrees */
  transform-origin: left center; /* Set the rotation origin */
  color: #141213;
}

/* Styles for the accordion content */
.accordion-content {
  display: none;
  margin-top: -50px;
}

/* Define the styles when the radio button is checked */
.toggle:checked + .accordion-title + .accordion-content {
  display: block;
  color: rgb(247, 238, 227);
}

/* Uncheck all other radio buttons when one is checked */
.toggle:checked {
  display: none;
}

.accordion-video {
  width: 100%;
  height: 100%;
}
