/* SMOOTH SCROLLING CONTROLS */
.design-page-container {
  position: relative;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100lvh;
  width: 100lvw;
}

/* FIRST SECTION */

.design-landing-container {
  display: flex;
  flex-direction: row;
  height: 93lvh;
  width: 100lvw;
  overflow: hidden;
  color: rgb(247, 238, 227);
  /* border: solid #fff; */
}

.title-container-L {
  display: flex;
  flex-direction: row;
}

.title-container-R {
  margin-top: -50px;
  width: 100%;
  height: 100lvh;
  text-align: end;
  /* border: 2px solid green; */
}

.design-clipped-text {
  text-transform: uppercase;
  background: url(https://europe1.discourse-cdn.com/figma/original/3X/7/e/7ebcf069b6f979bdd3aa1cc9b8ae97f770067567.gif);
  background-size: fill;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: saturate(0.8) sepia(20%);
}

/* MIDDLE SECTION */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 720px) {
  .title-container-L {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
  }

  .title-container-R {
    position: absolute;
    top: 35%;
    text-align: end;
    /* border: 2px solid green; */
  }
}

/* MIDDLE ACCORDION */
.design-white-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100lvw;
  height: 100lvh;
  overflow: hidden;
  color: #141213;
  mix-blend-mode: difference;
  /* border: solid green; */
  background-color: rgb(247, 238, 227);
}

.accordion {
  display: flex;
  justify-content: start;
  overflow-x: hidden;
  margin-top: -40px;
  height: 95lvh;
  width: 100lvw;
  color: #141213;
}

/* Style for the accordion items */
.accordion-item {
  background-color: rgb(247, 238, 227);
  color: #141213;
  border: 1px solid #141213;
  transition: flex 0.5s ease, display 1s ease;
  overflow: hidden;
}

.toggle {
  visibility: hidden;
}
/* Define the styles when the radio button is checked */
.toggle:checked + .accordion-title {
  flex: 10;
}

/* Styles for the accordion title */
.accordion-title {
  padding-bottom: 5px;
  width: 50px;
  transform: rotate(90deg); /* Rotate the title 90 degrees */
  transform-origin: left center; /* Set the rotation origin */
  color: #141213;
}

/* Styles for the accordion content */
.accordion-content {
  display: none;
  margin-top: -50px;
}

/* Define the styles when the radio button is checked */
.toggle:checked + .accordion-title + .accordion-content {
  display: block;
  color: rgb(247, 238, 227);
}

/* Uncheck all other radio buttons when one is checked */
.toggle:checked {
  display: none;
}

.accordion-video {
  width: 90%;
  height: 80%;
}

@media screen and (max-width: 720px) {
  .design-white-container {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    width: 100lvw;
    height: 100lvh;
    overflow: hidden;
    color: #141213;
    mix-blend-mode: difference;
    background-color: rgb(247, 238, 227);
  }

  .accordion {
    flex-direction: column;
    margin-top: 0px;
    height: auto;
    width: 100lvw;
    color: #141213;
  }
  .accordion-title {
    padding-bottom: 5px;
    width: 150px;
    transform: rotate(0);
    transform-origin: left center;
    color: #141213;
  }

  .toggle {
    visibility: hidden;
  }

  .accordion-video {
    margin-top: 40px;
    margin-bottom: -10px;
    width: 100%;
    background-color: #141213;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/* BOTTOM */

.design-black-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #141213;
  color: rgb(247, 238, 227);
}

.design-bottom-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}
