nav {
  position: relative;
  top: 0;
  left: 0;
  z-index: 999;
  display: block;
  flex-direction: column;
  width: 100vw;
  height: 25px;
  padding-bottom: 20px;
  background: #141213;
  align-items: center;
  /* border: solid #ffffff; */
  font-size: 75%;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin-left: -40px;
  width: 100%;
  flex-shrink: 1;
}

nav li {
  width: 20%;
  list-style: none;
}

nav li a {
  display: block;
  width: 100%;
  padding: 10px;
  position: relative;
  z-index: 999;
  color: #fff;
  box-sizing: border-box;
  text-decoration: none;
}

nav li a:hover {
  color: #141213;
}
nav li:first-child a {
  border-left: 5px solid #ffffff;
}
nav li:nth-child(2) a {
  border-left: 5px solid #ffffff;
}
nav li:nth-child(3) a {
  border-left: 5px solid #ffffff;
}
nav li:nth-child(4) a {
  border-left: 5px solid #ffffff;
}
nav li:last-child a {
  border-left: 5px solid #ffffff;
}

nav li a:after {
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 1s ease 0s;
  z-index: -1;
}

nav li a:hover:after {
  width: 100%;
}
nav li:first-child a:after {
  background: #ffffff;
}
nav li:nth-child(2) a:after {
  background: #ffffff;
}
nav li:nth-child(3) a:after {
  background: #ffffff;
}
nav li:nth-child(4) a:after {
  background: #ffffff;
}
nav li:last-child a:after {
  background: #ffffff;
}
