@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;700;900&display=swap");
.app {
  background-color: #141213;
  width: 100vw;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #141213;
  font-family: "Source Code Pro", monospace;
  z-index: 999;
}

h1 {
  font-size: 15rem;
  line-height: 10%;
  font-weight: 900;
}

h2 {
  font-size: 8rem;
  flex-shrink: 1;
  line-height: 5%;
  font-weight: 900;
}

h3 {
  display: flex;
  flex-shrink: 1;
  font-size: 4rem;
  line-height: 10%;
  font-weight: 900;
}
h4 {
  display: flex;
  flex-shrink: 0.5;
  font-size: 1rem;
  line-height: 10%;
  font-weight: 900;
}

p {
  display: flex;
  font-size: 1rem;
}

li {
  display: flex;
  flex-shrink: 1;
  font-size: 0.8rem;
  font-weight: 100;
}

@media screen and (max-width: 720px) {
  h1 {
    font-size: 8rem;
    line-height: 11%;
  }
  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 0.8rem;
  }
  li {
    font-size: 0.7rem;
  }
}

/* SMOOTH SCROLLING CONTROLS */
.scroll-section {
  position: relative;
  scroll-snap-align: start;
}
